@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand-primary: #80c998;
  --brand-secondary: #28462f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --font-sans: var(--font-soliden);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-soliden), sans-serif;
}
